header {
width: 100%;
background: white;
box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}


.Logo{
position: absolute;
width: 1920px;
height: 850px;
left: 0px;
top: 0px;
background: url(Banner.jpg);
mix-blend-mode: darken;
}

.logo-text{
color: #735440;
position: absolute;
display: flex; 
align-items: center; 
height: 800px;
left: 750px;
margin: auto;
}

.logo{
position: absolute;
left: 125px;
}

.List{
list-style-type: none;
display: flex;
gap: 15px;
position: absolute;
height: 26px;
left: 1016px;
top: 91px;
font-family: 'Heebo';
font-style: normal;
}

.lupa{
position: absolute;
width: 23px;
height: 18px;
left: 1327px;
top: 27px;   
}

.header-search{
border-bottom:1px solid red ;
}

.Search{    
all: unset;
position: absolute;
width: 150px;
height: 24px;
left: 1165px;
top: 21px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 21px;
}

.button{
color: white;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
gap: 10px;
position: absolute;
width: 160px;
height: 55px;
left: 880px;
top: 490px;
background: #57984C;
}

.polosa-1{
position: absolute;
width: 1920px;
height: 600px;
left: 0px;
top: 851px;
background: #e9e9e9;
}

.foto1{
position: absolute;
width: 441px;
height: 109px;
left: 1282px;
top: 35px;
}

.foto2{
position: absolute;
width: 72px;
height: 103px;
left: 1110px;
top: 35px;
}

.foto3{
position: absolute;
width: 206px;
height: 105px;
left: 804px;
top: 35px;
}

.foto4{
position: absolute;
width: 61px;
height: 103px;
left: 643px;
top: 35px;    
}

.foto5{
position: absolute;
width: 225px;
height: 99.1px;
left: 318px;
top: 35px;
}

.foto6{
position: absolute;
width: 61px;
height: 102px;
left: 107px;
top: 35px;
}

.Union{
position: absolute;
width: 1920px;
height: 1269px;
left: 0px;
top: 1040px;
background: #e9e9e9;
}

.Vision-Mission {
position: absolute;
width: 2114.96px;
height: 1098px;
left: -97px;
top: 1111px;
}

.Vision{
color: #324950;
position: absolute;
width: 197px;
height: 91px;
left: 405px;
top: 1218px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
}

.text1{
color: #324950;
position: absolute;
width: 495px;
height: 132px;
left: 405px;
top: 1371px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 162.7%;
}

.star{
background: #57984C;
position: absolute;
width: 47.24px;
height: 6.24px;
left: 405px;
top: 1334px;
}

.rostenia{
position: absolute;
width: 540px;
height: 498px;
left: 975px;
top: 1111px;
filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25))
}

.rostenia2{
position: absolute;
width: 540px;
height: 500px;
left: 405px;
top: 1709px;
filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25))
}

.stop{
position: absolute;
width: 90px;
height: 90px;
left: 630px;
top: 1914px;
}

.Mission{
position: absolute;
width: 244px;
height: 91px;
left: 1015px;
top: 1836px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}

.text2{
position: absolute;
width: 495px;
height: 99px;
left: 1015px;
top: 1989px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 162.7%;
color: #324950;
}

.star1{
position: absolute;
width: 47.24px;
height: 6.24px;
left: 1015px;
top: 1952px;
background: #57984C;
}

.line1{
position: absolute;
width: 200px;
height: 0px;
left: 1165px;
top: 33px;
border: 1px solid #324950;
}

.polosa-2{
position: absolute;
width: 1920px;
height: 640px;
left: 0px;
top: 2309px;
}

.AGRIDERA’S{
position: absolute;
width: 776px;
height: 91px;
left: 572px;
top: 109px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}

.hlopok{
position: absolute;
width: 354px;
height: 261px;
left: 399px;
top: 400px;
}

.pomedor{
position: absolute;
width: 232px;
height: 232px;
left: 843px;
top: 380px;
}

.podsolnuh{
position: absolute;
width: 295px;
height: 213px;
left: 1206px;
top: 420px;
}

.star2{
position: absolute;
width: 47.24px;
height: 6.24px;
left: 936px;
top: 305px;
background: #57984C;
}

.hlopok-zagolovok{
position: absolute;
width: 243px;
height: 34px;
left: 454px;
top: 731px; 
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C;
}

.pomedor-zagolovok{
position: absolute;
width: 183px;
height: 34px;
left: 869px;
top: 731px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;  
color: #57984C; 
}

.podsolnuh-zagolovok{
position: absolute;
width: 206px;
height: 34px;
left: 1244px;
top: 731px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C; 
}

.hlopok-text{
position: absolute;
width: 243px;
height: 52px;
left: 454px;
top: 912px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}

.pomedor-text{
position: absolute;
width: 245px;
height: 52px;
left: 838px;
top: 896px;   
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;  
text-align: center;  
color: #324950;
}

.podsolnuh-text{
position: absolute;
width: 292px;
height: 52px;
left: 1201px;
top: 906px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}

.linia1{
position: absolute;
width: 183px;
height: 0px;
left: 484px;
top: 850px;
border: 1px solid #57984C;
}

.linia2{
position: absolute;
width: 183px;
height: 0px;
left: 869px;
top: 850px;  
border: 1px solid #57984C;
}

.linia3{
position: absolute;
width: 183px;
height: 0px;
left: 1255px;
top: 850px;
border: 1px solid #57984C;
}

.polosa-3{
position: absolute;
width: 1920px;
height: 76px;
left: 0px;
top: 0px;   
background: #2D3F45;
}

.polosa-4{
position: absolute;
width: 1920px;
height: 127px;
left: 0px;
top: 3400px; 
background: #324950;
}

.List1{
list-style-type: none;
display: flex;
gap: 15px;
position: absolute;
width: 724px;
height: 23px;
left: 405px;
top: 7px; 
font-family: 'Roboto';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 142.7%;
color: #FFFFFF;
}

.sotseti1{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1303px;
top: 15px;;
}

.sotseti2{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1348px;
top: 15px;
}

.sotseti3{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1393px;
top: 15px; 
}

.sotseti4{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1438px;
top: 15px;
}

.sotseti5{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1483px;
top: 15px;
}

.last-text{
position: absolute;
width: 295px;
height: 20px;
left: 812px;
top: 83px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 142.7%;
color: #B9B9B9;
}