header {
width: 100%;
background: white;
box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}


.Logo{
position: absolute;
width: 1920px;
height: 850px;
left: 0px;
top: 0px;
background: url(Banner.jpg);
mix-blend-mode: darken;
}

.logo-text{
position: absolute;
width: 804px;
height: 68px;
left: 558px;
top: 362px;    
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 142.7%;
text-align: center;  
color: #735440;
}

.logo{
position: absolute;
left: 125px;
}

.List{
list-style-type: none;
display: flex;
gap: 15px;
position: absolute;
height: 26px;
left: 1016px;
top: 91px;
font-family: 'Heebo';
font-style: normal;
}

.lupa{
position: absolute;
width: 23px;
height: 18px;
left: 1327px;
top: 27px;   
}

.header-search{
border-bottom:1px solid red ;
}

.Search{    
all: unset;
position: absolute;
width: 150px;
height: 24px;
left: 1165px;
top: 21px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 21px;
}

.button{
color: white;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
gap: 10px;
position: absolute;
width: 160px;
height: 55px;
left: 880px;
top: 490px;
background: #57984C;
}

.polosa-1{
position: absolute;
width: 1920px;
height: 600px;
left: 0px;
top: 851px;
background: #e9e9e9;
}

.foto1{
position: absolute;
width: 441px;
height: 109px;
left: 1282px;
top: 35px;
}

.foto2{
position: absolute;
width: 72px;
height: 103px;
left: 1110px;
top: 35px;
}

.foto3{
position: absolute;
width: 206px;
height: 105px;
left: 804px;
top: 35px;
}

.foto4{
position: absolute;
width: 61px;
height: 103px;
left: 643px;
top: 35px;    
}

.foto5{
position: absolute;
width: 225px;
height: 99.1px;
left: 318px;
top: 35px;
}

.foto6{
position: absolute;
width: 61px;
height: 102px;
left: 107px;
top: 35px;
}

.Union{
position: absolute;
width: 1920px;
height: 1269px;
left: 0px;
top: 1040px;
background: #e9e9e9;
}

.Vision-Mission {
position: absolute;
width: 2114.96px;
height: 1098px;
left: -97px;
top: 1111px;
}

.Vision{
color: #324950;
position: absolute;
width: 197px;
height: 91px;
left: 405px;
top: 1218px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
}

.text1{
color: #324950;
position: absolute;
width: 495px;
height: 132px;
left: 405px;
top: 1371px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 162.7%;
}

.star{
background: #57984C;
position: absolute;
width: 47.24px;
height: 6.24px;
left: 405px;
top: 1334px;
}

.rostenia{
position: absolute;
width: 540px;
height: 498px;
left: 975px;
top: 1111px;
filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25))
}

.rostenia2{
position: absolute;
width: 540px;
height: 500px;
left: 405px;
top: 1709px;
filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25))
}

.stop{
position: absolute;
width: 90px;
height: 90px;
left: 630px;
top: 1914px;
}

.Mission{
position: absolute;
width: 244px;
height: 91px;
left: 1015px;
top: 1836px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}

.text2{
position: absolute;
width: 495px;
height: 99px;
left: 1015px;
top: 1989px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 162.7%;
color: #324950;
}

.star1{
position: absolute;
width: 47.24px;
height: 6.24px;
left: 1015px;
top: 1952px;
background: #57984C;
}

.line1{
position: absolute;
width: 200px;
height: 0px;
left: 1165px;
top: 33px;
border: 1px solid #324950;
}

.polosa-2{
position: absolute;
width: 1920px;
height: 640px;
left: 0px;
top: 2309px;
}

.AGRIDERA’S{
position: absolute;
width: 776px;
height: 91px;
left: 572px;
top: 109px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}

.hlopok{
position: absolute;
width: 354px;
height: 261px;
left: 399px;
top: 400px;
}

.pomedor{
position: absolute;
width: 232px;
height: 232px;
left: 843px;
top: 380px;
}

.podsolnuh{
position: absolute;
width: 295px;
height: 213px;
left: 1206px;
top: 420px;
}

.star2{
position: absolute;
width: 47.24px;
height: 6.24px;
left: 936px;
top: 305px;
background: #57984C;
}

.hlopok-zagolovok{
position: absolute;
width: 243px;
height: 34px;
left: 454px;
top: 731px; 
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C;
}

.pomedor-zagolovok{
position: absolute;
width: 183px;
height: 34px;
left: 869px;
top: 731px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;  
color: #57984C; 
}

.podsolnuh-zagolovok{
position: absolute;
width: 206px;
height: 34px;
left: 1244px;
top: 731px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C; 
}

.hlopok-text{
position: absolute;
width: 243px;
height: 52px;
left: 454px;
top: 912px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}

.pomedor-text{
position: absolute;
width: 245px;
height: 52px;
left: 838px;
top: 896px;   
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;  
text-align: center;  
color: #324950;
}

.podsolnuh-text{
position: absolute;
width: 292px;
height: 52px;
left: 1201px;
top: 906px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}

.linia1{
position: absolute;
width: 183px;
height: 0px;
left: 484px;
top: 850px;
border: 1px solid #57984C;
}

.linia2{
position: absolute;
width: 183px;
height: 0px;
left: 869px;
top: 850px;  
border: 1px solid #57984C;
}

.linia3{
position: absolute;
width: 183px;
height: 0px;
left: 1255px;
top: 850px;
border: 1px solid #57984C;
}

.polosa-3{
position: absolute;
width: 1920px;
height: 76px;
left: 0px;
top: 0px;   
background: #2D3F45;
}

.polosa-4{
position: absolute;
width: 1920px;
height: 127px;
left: 0px;
top: 3400px; 
background: #324950;
}

.List1{
list-style-type: none;
display: flex;
gap: 15px;
position: absolute;
width: 724px;
height: 23px;
left: 405px;
top: 7px; 
font-family: 'Roboto';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 142.7%;
color: #FFFFFF;
}

.sotseti1{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1303px;
top: 15px;;
}

.sotseti2{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1348px;
top: 15px;
}

.sotseti3{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1393px;
top: 15px; 
}

.sotseti4{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1438px;
top: 15px;
}

.sotseti5{
position: absolute;
width: 31.2px;
height: 31.2px;
left: 1483px;
top: 15px;
}

.last-text{
position: absolute;
width: 295px;
height: 20px;
left: 812px;
top: 83px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 142.7%;
color: #B9B9B9;
}

.h{
position: relative;
width: 1920px;
height: 2973px;
background: #FCF0F0;
}

.polosa-5{
position: absolute;
width: 1920px;
height: 150px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.PomedorBaner{
position: absolute;
width: 1920px;
height: 480px;
left: 0px;
top: 150px;
}

.zagolovok{
position: absolute;
width: 827px;
height: 63px;
left: 405px;
top: 653px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 142.7%;
color: #324950;
}

.star4{    
position: absolute;
width: 47.24px;
height: 6.24px;
left: 405px;
top: 756px;
background: #57984C;
}

.mnogo-texta{
position: absolute;
width: 1097px;
height: 290px;
left: 405px;
top: 803px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.nemnogo-texta{
position: absolute;
width: 1036px;
height: 54px;
left: 435.5px;
top: 1103.5px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.gorezontal{
position: absolute;
width: 4px;
height: 60px;
left: 400.5px;
top: 1110.5px;
background: #EB5757;
border-radius: 4px;
}

.linia4{
position: absolute;
width: 1250px;
height: 449.5px;
left: 385px;
top: 1203.5px;
background: #FFFAFA;
}

.zagolovok1{
position: absolute;
width: 350px;
height: 50px;
left: 50px;
top: 37px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #324950;
}

.zagolovok2{
position: absolute;
width: 325px;
height: 50px;
left: 450px;
top: 37px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #324950;
}

.zagolovok3{
position: absolute;
width: 296.21px;
height: 50px;
left: 840px;
top: 37px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #324950;
}

.cherta1{
position: absolute;
width: 350px;
height: 0px;
left: 50px;
top: 85px;
border: 1px solid #324950;
}

.cherta2{
position: absolute;
width: 325px;
height: 0px;
left: 450px;
top: 85px;
border: 1px solid #324950;
}

.cherta3{
position: absolute;
width: 350px;
height: 0px;
left: 840px;
top: 85px;
border: 1px solid #324950;
}

.text3{
position: absolute;
width: 350px;
height: 212px;
left: 50px;
top: 105px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.text4{
position: absolute;
width: 350px;
height: 212px;
left: 450px;
top: 105px; 
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;    
}

.text5{
position: absolute;
width: 350px;
height: 262px;
left: 840px;
top: 105px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;   
}

.nemnogo-texta2{
position: absolute;
width: 700px;
height: 26px;
left: 435px;
top: 1690px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.gorezontal2{
position: absolute;
width: 4px;
height: 40px;
left: 405px;
top: 1693px;
background: #EB5757;
border-radius: 4px;
}

.Foto1{
position: absolute;
width: 250px;
height: 321px;
left: 405px;
top: 1773px;
}


.Foto2{
position: absolute;
width: 250px;
height: 321px;
left: 785px;
top: 1773px;
}

.Foto3{
position: absolute;
width: 250px;
height: 321px;
left: 1165px;
top: 1773px;
}

.Foto4{
position: absolute;
width: 250px;
height: 321px;
left: 405px;
top: 2124px;
}

.Foto5{
position: absolute;
width: 250px;
height: 321px;
left: 785px;
top: 2124px;
}

.Foto6{
position: absolute;
width: 250px;
height: 321px;
left: 1165px;
top: 2124px;
}

.Foto7{
position: absolute;
width: 250px;
height: 321px;
left: 405px;
top: 2475px;
}

.Foto8{
position: absolute;
width: 250px;
height: 321px;
left: 785px;
top: 2475px;
}

.chortochka1{
color: #57984C;
position: absolute;
width: 250px;
height: 69px;
left: 405px;
top: 2022px; 
background: #FFFFFF; 
}

.chortochka2{
color: #57984C;
position: absolute;
width: 250px;
height: 69px;
left: 785px;
top: 2025px;
background: #FFFFFF;
}

.chortochka3{
color: #57984C;
position: absolute;
width: 250px;
height: 69px;
left: 1165px;
top: 2007px; 
background: #FFFFFF;  
}

.chortochka4{
color: #57984C;
position: absolute;
width: 250px;
height: 69px;
left: 785px;
top: 2376px;   
background: #FFFFFF;   
}

.chortochka5{
color: #57984C;
position: absolute;
width: 250px;
height: 69px;
left: 405px;
top: 2727px; 
background: #FFFFFF;   
}

.chortochka6{
color: #57984C;
position: absolute;
width: 250px;
height: 69px;
left: 785px;
top: 2707px;  
background: #FFFFFF;   
}

.polosa-6{
position: absolute;
width: 1920px;
height: 127px;
left: 0px;
top: 2900px; 
background: #324950;
}

.pomedorzadi{
position: absolute;
width: 1448.11px;
height: 1332.05px;
left: 235.88px;
top: 66.87px;
background: #e9e9e9;
opacity: 0.8;
}

.back{
position: absolute;
width: 146px;
height: 0px;
left: 474px;
top: 174px;   
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 162.7%;
color: #57984C;
}

.strelca{
box-sizing: border-box;
position: absolute;
width: 24px;
height: 0px;
left: 429px;
top: 191px;
border: 1px solid #57984C;
transform: rotate(180deg);
}

.zagolovok6{
position: absolute;
width: 526px;
height: 231px;
left: 405px;
top: 182px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 142.7%;
color: #324950;
}

.color{
position: absolute;
width: 526px;
height: 231px;
left: 405px;
top: 245px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 142.7%;
color: #57984C;
}

.star5{
position: absolute;
width: 47.24px;
height: 6.24px;
left: 405px;
top: 453px;
background: #57984C;
}

.text6{
position: absolute;
width: 395px;
height: 86px;
left: 508px;
top: 501px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 142.7%;
color: #CF2333;
}

.pomedorZnachok{
position: absolute;
width: 80px;
height: 80.04px;
left: 405px;
top: 520px;
}

.Foto9{
position: absolute;
width: 540px;
height: 498px;
left: 975px;
top: 182px;
}

.cnopca{
box-sizing: border-box;
position: absolute;
width: 225px;
height: 55px;
left: 1290px;
top: 710px;
background: #FFFFFF;
border: 2px solid #57984C;
border-radius: 60px;
color: #57984C;
}

.cnopca-pdf{
position: absolute;
width: 27.59px;
height: 32px;
left: 1319px;
top: 721px;
}

.zagolovok7{
position: absolute;
width: 188px;
height: 29px;
left: 405px;
top: 627px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #57984C;
}

.Liniy{  
position: absolute;
width: 183px;
height: 0px;
left: 405px;
top: 668px;
border: 1px solid #57984C;
}

.text7{
position: absolute;
width: 495px;
height: 84px;
left: 405px;
top: 672px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 162.7%;
color: #324950;
}

.zagolovok8{
position: absolute;
width: 56px;
height: 29px;
left: 405px;
top: 806px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #57984C;
}

.zagolovok9{
position: absolute;
width: 53px;
height: 29px;
left: 975px;
top: 806px; 
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%; 
color: #57984C;  
}

.zagolovok10{
position: absolute;
width: 52px;
height: 29px;
left: 405px;
top: 1003px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #57984C;
}

.zagolovok11{
position: absolute;
width: 51px;
height: 29px;
left: 975px;
top: 1003px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;  
color: #57984C;    
}

.Liniy1{
position: absolute;
width: 183px;
height: 0px;
left: 405px;
top: 847px;  
border: 1px solid #57984C;
}

.Liniy2{
position: absolute;
width: 183px;
height: 0px;
left: 975px;
top: 847px;  
border: 1px solid #57984C;   
}

.Liniy3{
position: absolute;
width: 183px;
height: 0px;
left: 405px;
top: 1044px;  
border: 1px solid #57984C; 
}

.Liniy4{
position: absolute;
width: 183px;
height: 0px;
left: 975px;
top: 1044px;
border: 1px solid #57984C;
}

.spisok1{
position: absolute;
width: 374px;
height: 102px;
left: 431px;
top: 871px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 200%;
color: #324950;
}

.spisok2{
position: absolute;
width: 56px;
height: 102px;
left: 1005px;
top: 871px;   
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 200%;  
color: #324950;    
}

.spisok3{
position: absolute;
width: 331px;
height: 102px;
left: 431px;
top: 1068px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 200%;
color: #324950;   
}

.text8{
position: absolute;
width: 31px;
height: 34px;
left: 975px;
top: 1068px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 200%;
color: #324950;
}

li {
color: #57984C; 
}
li span {
color: #324950; 
}

.polosa-7{
position: absolute;
width: 1920px;
height: 127px;
left: 0px;
top: 1338px;
background: #324950;
}

.h1{
background: #e9e9e9;
}

.Logo2{
position: absolute;
width: 1920px;
height: 480px;
left: 0px;
top: 122px;
}

.zagolovok12{
position: absolute;
width: 221px;
height: 63px;
left: 405px;
top: 653px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 142.7%;
color: #324950;
}

.star6{
position: absolute;
width: 47.24px;
height: 6.24px;
left: 405px;
top: 756px;
background: #57984C;
}

.Name{
position: absolute;
width: 60px;
height: 26px;
left: 405px;
top: 812.5px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input1{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 35px;
left: 405px;
top: 849px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.CompanyName{
position: absolute;
width: 129px;
height: 26px;
left: 405px;
top: 924px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input2{
box-sizing: border-box;
position: absolute;
width: 251px;
height: 35px;
left: 405px;
top: 960.78px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.Position{
position: absolute;
width: 66px;
height: 26px;
left: 405px;
top: 1036px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input3{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 35px;
left: 405px;
top: 1072.5px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.City{
position: absolute;
width: 33px;
height: 26px;
left: 405px;
top: 1147.75px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input4{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 35px;
left: 405px;
top: 1184.25px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.Country{
position: absolute;
width: 65px;
height: 26px;
left: 405px;
top: 1260px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input5{
box-sizing: border-box;
position: absolute;
width: 251px;
height: 35px;
left: 405px;
top: 1296.5px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.Telephone{
position: absolute;
width: 84px;
height: 26px;
left: 405px;
top: 1371.75px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input6{
box-sizing: border-box;
position: absolute;
width: 251px;
height: 35px;
left: 405px;
top: 1408.25px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.Email{
position: absolute;
width: 60px;
height: 26px;
left: 405px;
top: 1484px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input7{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 35px;
left: 405px;
top: 1520.5px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.You-are-a{
position: absolute;
width: 74px;
height: 26px;
left: 880px;
top: 812.5px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input8{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 35px;
left: 880px;
top: 849px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.If-other-please-specify{
position: absolute;
width: 178px;
height: 26px;
left: 880px;
top: 924.81px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input9{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 35px;
left: 880px;
top: 960.78px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.You-are-interested-in{
position: absolute;
width: 166px;
height: 26px;
left: 880px;
top: 1036px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.input10{
box-sizing: border-box;
position: absolute;
width: 633.9px;
height: 390.75px;
left: 880px;
top: 1072.5px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.Please-type-this-code{
position: absolute;
width: 168px;
height: 26px;
left: 880px;
top: 1484px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}

.code{
position: absolute;
width: 99px;
height: 27px;
left: 880px;
top: 1534.5px;
background: url(image.png);
mix-blend-mode: multiply;
}

.input11{
box-sizing: border-box;
position: absolute;
width: 225px;
height: 45px;
left: 1005px;
top: 1520.5px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
}

.SendMessage{
color:#FCF0F0;
position: absolute;
width: 255px;
height: 55px;
left: 1260px;
top: 1520.5px;
background: #57984C;
border-radius: 60px;
}

.polosa-7{
position: absolute;
width: 1920px;
height: 250px;
left: -0.5px;
top: 1626px;  
background: #FFFFFF;
}

.polosa-8{
position: absolute;
width: 1920px;
height: 127px;
left: 0px;
top: 1900px; 
background: #324950;
}

.Our{
position: absolute;
width: 118px;
height: 29px;
left: 900.5px;
top: 35px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
color: #57984C;
}

.Liniy5{
position: absolute;
width: 183px;
height: 0px;
left: 868px;
top: 90px;
border: 1px solid #57984C;
}

.text12{
position: absolute;
width: 288px;
height: 104px;
left: 815.5px;
top: 80px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
text-align: center;
color: #324950;
}